
@{
    ViewBag.Title = "Index";
}
@section scripts
{

      <script>

        
          $(document).on('click', '#submenu > a', function () {

              var value = $(this).attr('value');
              $('a').removeClass('activeclass');
              $(this).addClass('activeclass');
              if(value.toUpperCase()=="CERTIFICATE")
              {
                  //$(this).removeClass('linkbtn');
                
                  $('#overlay').css('display', 'block');
                  $('#divContainer').load('/FileMaker/Certificates', function () {
                      $('#overlay').css('display', 'none');
                  });
              }
              else
              {
                 
                  //$(this).removeClass('linkbtn');
                  $('#overlay').css('display', 'block');
                  $('#divContainer').load('/FileMaker/Reciprocities', function () {
                      $('#overlay').css('display', 'none');
                  });
              }
          })
      </script>
}
<ul id="submenu">
    
        <a href="#" class="linkbtn activeclass" value="certificate">Certifications</a>
    
    
        <a href="#" class="linkbtn" value="reciprocity">Reciprocities</a>
    
</ul>

<div id="divContainer">
    @Html.Action("Certificates")
</div>

