@model IEnumerable<ICRC.Model.TestScore>
@using GridMvc.Html


@*<div>
    <a href="/TestScore/Create" class="linkbtn"><span class="glyphicon glyphicon-plus space" aria-hidden="true"></span>Create new</a>
</div>*@

@Html.Grid(Model).Columns(columns =>
                    {
                       
                    columns.Add(c => c.LastName).Titled("LastName");
                    columns.Add(c => c.FirstName).Titled("FirstName");
                    columns.Add(c => c.EmailAddress).Titled("Email Address");
                    columns.Add(c => c.Address1).Titled("Address 1");
                    columns.Add(c => c.Address2).Titled("Address 2");
                    columns.Add(c => c.Exam).Titled("Exam").Format("{0:MM/dd/yyyy}");
    columns.Add(c => c.ExamDate).Titled("ExamDate");
    columns.Add(c => c.Score).Titled("ScaledScore");
    columns.Add(c => c.Status).Titled("Status");
}).WithPaging(30).Sortable().Filterable().WithMultipleFilters()
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>

