@model IEnumerable<ICRC.Model.ViewModel.ReciprocitiesForIndex>
@{
    ViewBag.Title = "Index";
}

<div class="row form-group">
    <div class="col-md-6 col-md-offset-6 text-right">
        <a class="linkbtn" id="btnSearch"><span class="glyphicon glyphicon-search space" aria-hidden="true"></span>Search</a>
        <a class="linkbtn" id="btnClearSearch"><span class="glyphicon glyphicon-remove-sign space" aria-hidden="true"></span>Clear Search</a>
    </div>
    @*<a href="/Reciprocity/Create">Create new</a>*@
   
</div>

<div class="divSearch bottom-space">
    <div class="row">
         <div class="col-md-2">
            
               <label class="control-label">Person</label>  
         
                 <input type="text" id="txtPerson" placeholder="person" class="form-control"/>
         
         </div>
        <div class="col-md-2">
       
                <label class="control-label">Originating Board</label>
     
                <input type="text" id="txtOBoard" placeholder="Originating board" class="form-control"/>
           
        </div>
        <div class="col-md-2">
           
                <label class="control-label"> Requested Board</label> 
         
                <input type="text" id="txtRBoard" placeholder="Requested board" class="form-control"/>
         
        </div>
        <div class="col-md-2">
          
                <label class="control-label">Certificate</label>
        
                <input type="text" id="txtCertificate" placeholder="Certificate acronym" class="form-control"/>

        </div>
        <div class="col-md-2">

                <label class="control-label">Payment Number</label>
      
                <input type="text" id="txtPNumber" placeholder="Payment number" class="form-control"/>
          
        </div>
        <div class="col-md-2">
         
                <label class="control-label">Notes</label>
    
                <input type="text" id="txtNotes" placeholder="Notes" class="form-control"/>
          
        </div>        
    </div>

</div>


<div id="divContainer">
    @Html.Partial("_Reciprocities",Model)     
</div>


@section scripts
{
    
    <script>
        $(document).on('click', '#btnClearSearch', function () {
            $('#txtPerson').val("");
            $('#txtOBoard').val("");
            $('#txtRBoard').val("");
            $('#txtCertificate').val("");
            $('#txtPNumber').val("");
            $('#txtNotes').val("");

            searchData('', '', '','','','');
        });

        $(document).on('click', '#btnSearch', function () {
            var obj = new Object;

            var person = $('#txtPerson').val();
            var oboard= $('#txtOBoard').val();
            var rboard= $('#txtRBoard').val();
            var certificate= $('#txtCertificate').val();
            var  number= $('#txtPNumber').val();
            var notes= $('#txtNotes').val();



            if (person == '' && oboard== '' && rboard== '' && certificate=='' && number=='' && notes=='')
                return;
            searchData(person,oboard,rboard,certificate,number,notes);

        });

        function searchData(person,oboard,rboard,certificate,number,notes){

            var url = "/Reciprocities/GetData?person=" + person+ "&oboard=" + oboard+ "&rboard=" + rboard+"&certificate="+certificate+"&number="+number+"&notes="+notes;
            showOverLay();
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    $('#divContainer').html(data);
                    hideOverLay();
                },
                error: function (err) {
                    hideOverLay();
                    console.log(err.statusText);
                }

            });
        }
    </script>
    
    }