$orange: #ea8824;
$blue: #2B90D1;
$dark-blue:#265A82;
$white: white;
$num: 20px;
$ten: 10px;
$FontSize: 16px;
$black:#101010;

@mixin menu_spacing() {
    margin-top: $num;
    margin-bottom: $num;
    padding-top: $ten;
    padding-bottom: $ten;
}
@mixin my_btn(){
    color: $white;
    background: $blue;
    padding-top:$ten;
    padding-bottom:$ten;
    padding-right: $num;
    padding-left:$num;
    border-radius:3px;
}
@mixin my_btn_over(){
    background: $dark-blue;
    text-decoration:none!important;
    color:$white!important;
    box-shadow: 0 0 30px #bab9b9;
}
body {
    font: normal 14px/normal Open Sans;
}

.menu {
    background: $orange;
    @include menu_spacing();
}

.navbar-nav {    
    a {
        color: $white !important;
        font-size: $FontSize;
    }
}
.navbar-toggle {
background:$dark-blue!important;
margin-top:$num!important;
}
       a.linkbtn {
           @include my_btn();
       }
       a.linkbtn:hover{
           @include my_btn_over();
       }

.space{
    margin-right: $num;
}
.grid-mvc{
    margin-top: $num;
}
label{
    color:$blue;
}