@model IEnumerable<ICRC.Model.ViewModel.StudentVoilationForIndex>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6 col-md-offset-6 text-right">
        <a class="linkbtn" id="btnSearch"><span class="glyphicon glyphicon-search space" aria-hidden="true"></span>Search</a>
        <a class="linkbtn" id="btnClearSearch"><span class="glyphicon glyphicon-search space" aria-hidden="true"></span>Clear Search</a>
    </div>
    @*<a href="/Ethicalviolations/Create">Create new</a>*@
</div>


<div class="divSearch bottom-space">
    <div class="row">
        <div class="col-md-3">
         
               <label class="control-label">Originating Board</label> 
          
                <input type="text" placeholder="Originating board" id="txtBoard"  class="form-control"/>
        
        </div>
        <div class="col-md-3">
          
                <label class="control-label"> Person</label> 
        
                <input type="text" placeholder="Person" id="txtPerson" class="form-control"/>
          
        </div>

        <div class="col-md-3">
         
                <label class="control-label"> Type of Ethical Violation</label> 
            
                <input type="text" id="txtViolation"  placeholder="Ethical violation" class="form-control"/>
       
        </div>
    </div>
</div>

<div id="divContainer">
    @Html.Partial("_violations",Model)    
</div>


@section scripts
{

    <script>
        $(document).on('click', '#btnClearSearch', function () {
            $('#txtBoard').val("");
            $('#txtPerson').val("");
            $('#txtViolation').val("");

            searchData('', '', '');
        });



        $(document).on('click', '#btnSearch', function () {
            var obj = new Object;

            var Board = $('#txtBoard').val();
            var Person= $('#txtPerson').val();
            var Violation = $('#txtViolation').val();



            if (Board == '' && Person == '' && Violation == '')
                return;
            searchData(Board, Person, Violation);

        });

        function searchData(Board, Person, Violation) {

            var url = "/EthicalViolations/GetData?board=" + Board + "&person=" + Person + "&violation=" + Violation;
            showOverLay();
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    $('#divContainer').html(data);
                    hideOverLay();
                },
                error: function (err) {
                    hideOverLay();
                    console.log(err.statusText);
                }

            });
        }
    </script>
    }