@model  IEnumerable<ICRC.Model.CertifiedPersons>
@{
    //ViewBag.Title = "Index";
}


<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="/CertifiedPersons/Create" class="linkbtn"><span class="glyphicon glyphicon-plus space" aria-hidden="true"></span>Create new</a>
</p>


<div id="divContainer">
    @Html.Partial("_CertifiedPersons",Model)
    @*@Html.Action("GetData");*@
</div>
