@model  IQueryable<ICRC.Model.ViewModel.CPViewModelForIndex>
@{
    //ViewBag.Title = "Index";
}


<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="/CertifiedPersons/Create" class="linkbtn"><span class="glyphicon glyphicon-plus space" aria-hidden="true"></span>Create new</a>
    <a  class="linkbtn" id="btnSearch"><span class="glyphicon glyphicon-search space" aria-hidden="true"></span>Search</a>
    <a class="linkbtn" id="btnClearSearch"><span class="glyphicon glyphicon-search space" aria-hidden="true"></span>Clear Search</a>
</p>

<div class="searchDiv">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                Last Name:
            </div>
            <div class="row">
                <input type="Search" placeholder="Search first name" id="txtLastName" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                First Name:
            </div>
            <div class="row">
                <input type="Search" placeholder="Search last name" id="txtFirstName" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                Middle Name:
            </div>
            <div class="row">
                <input type="Search" placeholder="Search middle name" id="txtMiddleName" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                Board Acronym:
            </div>
            <div class="row">
                <input type="Search" placeholder="Search Board Acronym" id="txtBoardAcronym" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                City:
            </div>
            <div class="row">
                <input type="Search" placeholder="Search City" id="txtCity" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                State:
            </div>
            <div class="row">
                <input type="Search" placeholder="Search State" id="txtState" />
            </div>
        </div>
    </div>
</div>
<div id="divContainer">
    @Html.Partial("_CertifiedPersons",Model)
    @*@Html.Action("GetData");*@
</div>

@section scripts
{
    <script>

        $(document).on('click', '#btnClearSearch', function () {
            $('#txtFirstName').val("");
            $('#txtLastName').val("");
            $('#txtMiddleName').val("");
            $('#txtBoardAcronym').val("");
            $('#txtCity').val("");
            $('#txtState').val("");
            searchData('','','','','','');
        });



        $(document).on('click', '#btnSearch', function () {
            var obj = new Object;

            var FirstName = $('#txtFirstName').val();
            var LastName = $('#txtLastName').val();
            var MiddleName = $('#txtMiddleName').val();
            var BoardAcronym = $('#txtBoardAcronym').val();
            var City = $('#txtCity').val();
            var State = $('#txtState').val();
           

            if (FirstName == '' && LastName == '' && MiddleName == '' && BoardAcronym == '' && City == '' && State == '')
                return;
            searchData(FirstName,LastName,MiddleName,BoardAcronym,City,State);
            
        });

        function searchData(FirstName,LastName,MiddleName,BoardAcronym,City,State)
        {
           
            var url = "/CertifiedPersons/GetData?FirstName=" + FirstName + "&LastName=" + LastName + "&MiddleName=" + MiddleName + "&Acronym=" + BoardAcronym + "&City=" + City + "&State=" + State;
            showOverLay();
            $.ajax({
                url: url,               
                type: "GET",
                success: function (data) {
                    $('#divContainer').html(data);
                    hideOverLay();
                },
                error: function (err) {
                    hideOverLay();
                    console.log(err.statusText);
                }

            });
        }
    </script>
    }
