@model  IQueryable<ICRC.Model.ViewModel.CPViewModelForIndex>
@{
    //ViewBag.Title = "Index";
}
<div class="row form-group">
<div class="col-md-6 col-md-offset-6 text-right">
    <a class="linkbtn" id="btnDownload"><span class="glyphicon glyphicon-download-alt space" aria-hidden="true"></span>Download</a>
    <a class="linkbtn" id="btnSearch"><span class="glyphicon glyphicon-search space" aria-hidden="true"></span>Search</a>
    <a class="linkbtn" id="btnClearSearch"><span class="glyphicon glyphicon-remove-circle space" aria-hidden="true"></span>Clear Search</a>
</div>
</div>
    @*@Html.ActionLink("Create New", "Create")*@
<div class="searchDiv bottom-space">
    <div class="row">
        <div class="col-md-2">
   
              <label class="control-label"> Last Name:</label> 
    
                <input type="Search" placeholder="Search first name" id="txtLastName" class="form-control"/>
  
        </div>
        <div class="col-md-2">
         
                <label class="control-label">  First Name:</label>
       
                <input type="Search" placeholder="Search last name" id="txtFirstName" class="form-control"/>

        </div>
        <div class="col-md-2">
          
                <label class="control-label">   Middle Name:</label>

                <input type="Search" placeholder="Search middle name" id="txtMiddleName" class="form-control"/>
 
        </div>
        <div class="col-md-2">
                <label class="control-label">    Board Acronym:</label>
                <input type="Search" placeholder="Search Board Acronym" id="txtBoardAcronym" class="form-control"/>
        </div>
        <div class="col-md-2">         
                <label class="control-label"> City:</label>       
                <input type="Search" placeholder="Search City" id="txtCity" class="form-control"/>       
        </div>
        <div class="col-md-2">         
                <label class="control-label">  State:</label>
                <input type="Search" placeholder="Search State" id="txtState" class="form-control"/>
        </div>
    </div>
</div>
<div id="divContainer">
    @Html.Partial("_CertifiedPersons",Model)
    @*@Html.Action("GetData");*@
</div>

@section scripts
{
    <script>


        
        $(document).on('click', '#btnDownload', function () {
            var FirstName = $('#txtFirstName').val();
            var LastName = $('#txtLastName').val();
            var MiddleName = $('#txtMiddleName').val();
            var BoardAcronym = $('#txtBoardAcronym').val();
            var City = $('#txtCity').val();
            var State = $('#txtState').val();

            var _url = '/CertifiedPersons/ExportToExcel?FirstName=' + FirstName + '&LastName=' + LastName + '&MiddleName=' + MiddleName + '&Acronym=' + BoardAcronym + '&City=' + City + '&State=' + State;

            window.open(_url, 'blank');

        });

        $(document).on('click', '#btnClearSearch', function () {
            $('#txtFirstName').val("");
            $('#txtLastName').val("");
            $('#txtMiddleName').val("");
            $('#txtBoardAcronym').val("");
            $('#txtCity').val("");
            $('#txtState').val("");
            searchData('','','','','','');
        });



       
        $(document).on('click', '#btnSearch', function () {
            var obj = new Object;

          
           
            var FirstName = $('#txtFirstName').val();
            var LastName = $('#txtLastName').val();
            var MiddleName = $('#txtMiddleName').val();
            var BoardAcronym = $('#txtBoardAcronym').val();
            var City = $('#txtCity').val();
            var State = $('#txtState').val();
            if (FirstName == '' && LastName == '' && MiddleName == '' && BoardAcronym == '' && City == '' && State == '')
                return;
            searchData(FirstName,LastName,MiddleName,BoardAcronym,City,State);
            
        });

        function searchData(FirstName,LastName,MiddleName,BoardAcronym,City,State)
        {
           
            var url = "/CertifiedPersons/GetData?FirstName=" + FirstName + "&LastName=" + LastName + "&MiddleName=" + MiddleName + "&Acronym=" + BoardAcronym + "&City=" + City + "&State=" + State;
            showOverLay();
            $.ajax({
                url: url,               
                type: "GET",
                success: function (data) {
                    $('#divContainer').html(data);
                    hideOverLay();
                },
                error: function (err) {
                    hideOverLay();
                    console.log(err.statusText);
                }

            });
        }
    </script>
    }
