@model ICRC.Model.TestScore
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <a href="#" id="completeView" class="linkbtn">Complete View</a>
    <a href="#" id="normalView" class="linkbtn">Normal View</a>
</div>

<div class="row">
    <a href="/TestScores/Create">Create New</a>
</div>
<div id="divContainer">
    @Html.Action("NormalView")
</div>


@section Scripts
{         
<script src="~/Scripts/TestScore.js"></script>
}

