@model ICRC.Model.TestScore
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-8 text-left">
        <a href="/TestScores/Create" class="linkbtn">Create New</a>
        @*<a href="#" id="completeView" class="linkbtn">Complete View</a>*@
        @*<a href="#" id="normalView" class="linkbtn">Normal View</a>*@
        <a href="#" id="Import" class="linkbtn">Import Data</a>
    </div>
    <div class="col-md-4 text-right">        
        <a class="linkbtn" id="btnDownload"><span class="glyphicon glyphicon-download-alt space" aria-hidden="true"></span>Download</a>   
          <a class="linkbtn" id="btnSearch"><span class="glyphicon glyphicon-search space" aria-hidden="true"></span>Search</a>
            <a class="linkbtn" id="btnClearSearch"><span class="glyphicon glyphicon-remove-circle space" aria-hidden="true"></span>Clear Search</a>        
    </div>
</div>
<hr />
@*<div class="row form-group">
   
    <a href="/Reciprocity/Create">Create new</a>

</div>*@
<div class="divSearch bottom-space">
    <div class="row">
        <div class="col-md-2">

            <label class="control-label">LastName</label>

            <input type="text" id="txtLastName" placeholder="Search Last name" class="form-control" />

        </div>
        <div class="col-md-2">

            <label class="control-label">First Name</label>

            <input type="text" id="txtFirstName" placeholder="Search First name" class="form-control" />

        </div>
        <div class="col-md-2">

            <label class="control-label"> Middle Name</label>

            <input type="text" id="txtMiddleName" placeholder="Search Middle name" class="form-control" />

        </div>
        <div class="col-md-2">

            <label class="control-label">Email Address</label>

            <input type="text" id="txtEmailAddress" placeholder="Search Email address" class="form-control" />

        </div>
        <div class="col-md-2">

            <label class="control-label">Address 1</label>

            <input type="text" id="txtAddress1" placeholder="Search Address 1" class="form-control" />

        </div>
        <div class="col-md-2">

            <label class="control-label">Address 2</label>

            <input type="text" id="txtAddress2" placeholder="Search Address 2" class="form-control" />

        </div>
        <div class="col-md-2">

            <label class="control-label">Exam</label>

            <input type="text" id="txtExam" placeholder="search Exam" class="form-control" />

        </div>
        <div class="col-md-2">

            <label class="control-label">Status</label>

            <input type="text" id="txtStatus" placeholder="Search Status" class="form-control" />

        </div>
    </div>

</div>
<hr />
<div id="divContainer">
    @Html.Action("GetData",new { option=ViewBag.Option})
</div>


@section Scripts
{         
<script src="~/Scripts/TestScore.js"></script>
    <script>

        $(document).on('click', '#btnDownload', function () {
            var lastname = $('#txtLastName').val();
            var firstname = $('#txtFirstName').val();
            var middlename = $('#txtMiddleName').val();
            var emailaddress = $('#txtEmailAddress').val();
            var address1 = $('#txtAddress1').val();
            var address2 = $('#txtAddress2').val();
            var exam = $('#txtExam').val();
            var status = $('#txtStatus').val();

            var _url = "/TestScores/ExportToExcel?option=1&lastname=" + lastname + "&firstname=" + firstname + "&middlename=" + middlename + "&EmailAddress=" + emailaddress + "&address1=" + address1 + "&address2=" + address2 + "&exam=" + exam + "&status=" + status;
            window.open(_url, 'blank');

        });
        $(document).on('click', '#btnClearSearch', function () {
            $('#txtLastName').val("");
            $('#txtFirstName').val("");
            $('#txtMiddleName').val("");
            $('#txtEmailAddress').val("");
            $('#txtAddress1').val("");
            $('#txtAddress2').val("");
            $('#txtExam').val("");
            $('#txtStatus').val("");

            searchData('', '', '', '', '', '','','');
        });

        $(document).on('click', '#btnSearch', function () {
            var obj = new Object;

           var lastname= $('#txtLastName').val();
           var firstname = $('#txtFirstName').val();
            var middlename=$('#txtMiddleName').val();
            var emailaddress=$('#txtEmailAddress').val();
            var address1=$('#txtAddress1').val();
            var address2=$('#txtAddress2').val();
            var exam=$('#txtExam').val();
            var status=$('#txtStatus').val();
            


            if (lastname== '' && firstname == '' && middlename== '' && emailaddress== '' && address1== '' && address2== '' && exam=="" && status=="")
                return;
            searchData(lastname, firstname, middlename, emailaddress, address1, address2, exam, status);

        });

        function searchData(lastname, firstname, middlename, emailaddress, address1, address2, exam, status) {

            var url = "/TestScores/GetData?option=1&lastname=" + lastname + "&firstname=" + firstname + "&middlename=" + middlename + "&EmailAddress=" + emailaddress+ "&address1=" + address1 + "&address2=" + address2 + "&exam=" + exam+"&status="+status;
            showOverLay();
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    $('#divContainer').html(data);
                    hideOverLay();
                },
                error: function (err) {
                    hideOverLay();
                    console.log(err.statusText);
                }

            });
        }
    </script>
}

