@model IEnumerable<ICRC.Model.Certifications>
@{
    ViewBag.Title = "ShowAddtoQueueCertificates";
}

<div id="divContainer">
    @Html.Partial("_QueueCertificates",Model)
</div>

<script>
   
</script>

